        * {
          margin: 0px;
          font-family: Roboto;

        }

        body {
          overflow-x: hidden;
        }

        ul>li {
          list-style: none;
        }

        ul {
          display: flex;
          gap: 30px;
        }

        nav {
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: #fff9ea;
          height: 108px;
        }

        .list-item {
          font-size: 20px;
          font-weight: 700;


        }

        .frist-btn {
          width: 122px;
          height: 38px;
          background-color: #ffcb45;
          border: none;
          border-radius: 24px;
          font-weight: 700;
        }

        /* hero section */
        .hero-section {
          background-image: url("../images/shapes.png");
          height: 90vh;
          background-size: cover;
        }

        .hero-content {
          display: flex;
          justify-content: space-around;
        }

        .hero-frist {
          display: flex;
          align-items: center;
        }

        .hero-heading {
          font-size: 60px;
          margin-bottom: 21px;
        }

        /* about section */

        .about-container {
          margin-top: 80px;
          text-align: center;

        }

        .about-content {
          margin-top: 32px;
          display: flex;
          justify-content: space-around;
        }

        .popular-menu {
          text-align: center;
          margin: 80px;
        }

        /* popular menu */
        .popular-content {
          display: flex;
          gap: 35px;
          justify-content: center;
          margin-top: 35px;
          margin-left: 124px;
          margin-right: 124px;
        }

        .items {
          background-color: #f1f1f1;
          padding: 30px;
          border-radius: 20px;
          margin-bottom: 20px;

        }

        /* review-section */
        .review-container {
          display: flex;


        }

        .img-container {
          margin-left: 170px;
        }

        .review {
          margin-top: 30px;
          margin-left: 144px;
        }

        .review-card {
          margin-top: 32px;
          display: flex;
          gap: 20px;
        }

        /* discount-style */

        .discount-container {
          background-image: url("../images/8.png");
          background-size: contain;
          height: 332px;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 70px;

        }

        /* footer-section */

        .footer-container {
          background-image: url("../images/11.png");
          height: 370px;
          margin-top: 80px;
          background-size: cover;
        }

        .footer-flex {
          display: flex;
          justify-content: space-around;
          padding-top: 39px;
        }

        div>p {
          padding-top: 16px;

        }

        .icons {
          display: flex;
          margin-left: -15px;
          margin-top: 25px;
        }